/*  
Theme Name: Doa Ibu
Theme URI: http://theme-id.com
Description: fastest wordpress <a href="http://fastestwp.com/">fast loading wordpress themes</a>.
Version: 3.0
Author: Virtarich
Author URI: http://theme-id.com
*/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset{margin:0;padding:0;}
img, fieldset{border:0;}
img{max-width:100%;height:auto;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
#wrap{width:960px;margin-right:auto;margin-left:auto;border:1px solid #CCC;margin-bottom:5px;background-color:#FFF;box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);}
body{margin:0px auto 0px;padding:0px;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#333;background-position:center;background-color:#000;}
h1{margin:0px;text-decoration:none;font-weight:normal;text-transform:capitalize;padding-right:0px;padding-bottom:5px;padding-left:0px;font-size:22px;line-height:26px;text-align:left;}
h2{text-decoration:none;font-size:14px;margin:0px;font-weight:bold;padding-bottom:3px;text-transform:capitalize;text-align:left;}
h3{text-decoration:none;font-size:14px;margin:0px;}
h4{color:#000;font-size:13px;text-decoration:none;font-weight:bold;text-transform:capitalize;text-align:left;padding-top:3px;padding-bottom:3px;margin:0px;}
a{text-decoration:none;}
p{text-decoration:none;line-height:24px;}
img{border:0;}
p img{padding:0;max-width:100%;height:auto;}
img.center{display:inline;padding:5px;}
img.alignright{display:inline;margin-top:5px;margin-bottom:5px;margin-left:5px;}
img.alignleft{display:inline;margin-top:5px;margin-bottom:5px;margin-right:5px;padding:5px;}
.alignright{float:right;margin-top:4px;margin-bottom:4px;}
.alignleft{float:left;margin-top:4px;margin-bottom:4px;}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-top:5px;margin-bottom:5px;}
#header{width:960px;min-height:70px;overflow:hidden;background-color:#F7F7F7;}
#header-left{float:left;width:300px;}
#header-right{float:right;text-align:center;width:400px;padding-top:10px;}
#header .logo{font-size:36px;font-family:Impact;font-weight:normal;float:left;text-align:left;padding-left:10px;float:left;padding-top:5px;clear:both;width:100%;text-transform:uppercase;line-height:42px;}
#header .desc{font-size:14px;font-family:Verdana, Arial, Helvetica, sans-serif;padding-left:10px;}
#search{display:inline;float:left;width:90%;height:40px;margin-bottom:5px;padding-top:5px;padding-right:5px;padding-left:5px;}
#search-box{width:70%;height:25px;background-color:#EEEEEE;border:5px solid #DADADA;color:#000000;padding-top:1px;padding-right:5px;padding-bottom:0;padding-left:5px;float:left;}
#search-button{width:80px;height:37px;color:#FFFFFF;margin-left:8px;font-weight:bold;cursor:pointer;border:2px solid #CCCCCC;font-size:16px;background-color:#999999;float:left;}
#container{width:940px;clear:both;padding-right:10px;padding-left:10px;padding-top:10px;padding-bottom:5px;}
#contents{float:left;width:630px;clear:both;margin-bottom:5px;}
#contents-left{float:left;width:162px;}
#contents-right{float:right;width:460px;}
#content-large{background-color:#FFFFFF;height:auto;width:960px;}
.featured{border:1px solid #e5e5e5;margin-bottom:5px;clear:both;padding:10px;height:auto;}
.post{border:1px solid #e5e5e5;min-height:100px;margin-bottom:5px;text-align:left;font-size:13px;clear:both;padding:10px;}
.post ul{list-style-type:disc;margin-top:0;margin-right:0;margin-bottom:5px;margin-left:25px;padding-top:0;padding-right:5px;padding-bottom:0;padding-left:5px;list-style-position:outside;}
.post ol{list-style-position:outside;margin-left:30px;margin-bottom:10px;}
.post ol li{padding:3px;line-height:24px;}
.post ul li{padding:3px;line-height:24px;list-style-type:none;}
.post blockquote{background-image:url(images/quote.gif);background-repeat:no-repeat;color:#000000;padding-left:50px;background-position:left top;margin-top:10px;margin-bottom:10px;font-style:italic;margin-right:5px;margin-left:0px;}
.post ul li ul{margin-left:10px;padding:0;border:0;}
.post p, .post ul, .post ol, .post dd, .post pre, .post hr{margin-bottom:12px;}
.tags{float:none;font-size:11px;text-align:left;margin:0px;padding:0px;color:#666;}
.related{margin-bottom:5px;clear:both;}
#sidebar{height:100%;min-height:100%;float:right;width:312px;margin-top:0px;}
#sidebarleft{height:100%;min-height:100%;float:left;width:162px;margin-bottom:0px;margin-top:0px;}
#sidebarright{height:100%;min-height:100%;float:right;width:302px;margin-top:0px;}
.box{margin-bottom:5px;border:1px solid #dcdcdc;}
.box h4{margin-top:0px;color:#333333;margin-bottom:0px;font-size:12px;font-weight:bold;padding-top:4px;padding-bottom:4px;text-align:left;text-transform:capitalize;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#E8E8E8;background-color:#CCCCCC;padding-left:5px;clear:both;background-image:url(images/nav.png);background-repeat:repeat-x;background-position:bottom;}
.box a{color:#000;}
.box a:hover{text-decoration:underline;}
.box ul{list-style-type:none;margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;padding-top:0px;padding-right:5px;padding-bottom:5px;padding-left:5px;}
.box ul li{padding-top:2px;padding-bottom:2px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#EBEBEB;}
.box ul li:before,.post ul li:before{content:"\00BB \0020";}
.box ul li ul{margin-left:5px;padding:0;border-top-width:0;border-right-width:0;border-left-width:0;}
#nav span{width:35px;height:28px;display:block;background-image:url(images/home.png);background-repeat:no-repeat;background-position:center center;float:left;}
#nav span:hover{width:35px;height:28px;display:block;background-image:url(images/home.png);background-repeat:no-repeat;background-position:center center;float:left;}
#nav{width:100%;padding:0px;text-transform:capitalize;font-size:12px;text-align:center;height:auto;margin-top:0px;margin-bottom:0px;z-index:1000;margin-right:auto;margin-left:auto;background-image:url(images/nav.png);background-repeat:repeat-x;background-position:bottom;background-color:#EBEBEB;}
nav select{display:none;border:2px solid #CCC;padding:5px;background-color:#EFEFEF;}
.dropdown{list-style:none;float:left;width:920px;padding-top:0;padding-right:5px;padding-bottom:0;}
.dropdown li{float:left;position:relative;}
.dropdown a{color:#333;display:block;position:relative;text-align:center;z-index:98;font-weight:bold;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;}
.dropdown li:hover a{color:#fff;}
.dropdown li ul a{display:block;font-size:12px;margin:0px;text-align:left;padding-right:5px;padding-left:5px;z-index:1000;}
.dropdown ul{list-style:none;margin:0px;padding:0px;width:180px;position:absolute;z-index:500;}
.dropdown li ul{top:auto;}
.dropdown ul ul{top:0;left:100%;}
.dropdown ul li{float:none;}
.dropdown ul,
.dropdown li:hover ul ul,
.dropdown ul li:hover ul ul{display:none;}
.dropdown li:hover ul,
.dropdown ul li:hover ul ,
.dropdown ul li ul li:hover ul{display:block;}
.dropdown li * a{background-color:rgba(0, 0, 0, 0.7);padding:5px;}
.dropdown li * a:hover{background-color:#CCCCCC;}
.dropdown .current-menu-item{padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}
.breadcrumbs{float:none;font-size:12px;text-align:left;margin-bottom:0px;width:100%;color:#666;padding-top:5px;padding-bottom:5px;}
.breadcrumbs a{text-decoration:none;padding-right:5px;margin-right:1px;color:#666;}
#post-navigator{padding:0px;clear:both;height:auto;width:100%;display:block;margin-top:1em;margin-right:auto;margin-bottom:1em;margin-left:auto;font-size:12px;}
.wp-pagenavi{width:100%;clear:both;padding-top:5px;padding-right:0px;padding-bottom:5px;padding-left:0px;height:auto;text-align:center;margin-top:10px;margin-right:auto;margin-bottom:10px;margin-left:auto;}
.pages{color:#000;width:auto;height:auto;margin-top:0px;margin-right:3px;margin-bottom:0px;margin-left:0px;border:1px solid #E9E9E9;padding:5px;font-weight:bold;}
.current{color:#333333;width:auto;height:auto;margin:0px;border:1px solid #E9E9E9;padding:8px;}
.wp-pagenavi a{color:#666666;text-decoration:none;height:auto;width:auto;margin:0px;display:inline;border:1px solid #E9E9E9;padding:5px;}
.wp-pagenavi a:hover{border:1px solid #E9E9E9;font-weight:bold;}
.post-small-thumb{position:relative;padding:5px;width:155px;height:75px;width:75px;vertical-align:middle;display:table-cell;text-align:center;float:left;border:1px solid #CCC;margin-right:5px;}
.post-small h3{font-size:12px;margin-bottom:2px;text-transform:capitalize;margin-top:0px;margin-right:0px;margin-left:0px;font-weight:normal;}
.post-small{margin-bottom:2px;text-align:left;padding:3px;font-size:13px;min-height:65px;}
.small-thumb{float:left;background-color:#FFF;margin-right:5px;}
.small-thumb-gambar{position:relative;width:155px;height:60px;width:90px;vertical-align:middle;display:table-cell;text-align:center;line-height:0px;padding:2px;background-color:#EBEBEB;}
.post-small h3{font-size:12px;margin-bottom:2px;text-transform:capitalize;margin-top:0px;margin-right:0px;margin-left:0px;font-weight:bold;}
#footer{width:960px;height:auto;text-align:center;font-size:12px;padding-top:3px;padding-bottom:3px;color:#666666;border-top-width:1px;border-top-style:solid;border-top-color:#dbdbdb;clear:both;background-color:#F7F7F7;}
#footer a{padding-right:5px;color:#666666;}
.ads-content{text-align:center;clear:both;}
.ads{padding-top:5px;text-align:center;}
.thumb{width:120px;height:90px;float:left;text-align:center;padding:3px;border:1px solid #CCCCCC;line-height:0;background-color:#F3F3F3;margin-right:10px;}
.picnav{text-align:center;margin:0px;}
.picnav img{margin:5px;padding:2px;}
.image{text-align:center;padding-top:5px;padding-bottom:5px;margin-bottom:5px;margin-top:5px;}
.picnav{width:100%;text-align:center;margin:0px;}
.picnav img{background-color:#FFF;margin:3px;padding:2px;border:1px solid #CCCCCC;}
.wp-caption{margin-bottom:10px;max-width:95%;background-color:#F4F4F4;padding:5px;margin-top:10px;}
.wp-caption img{display:block;max-width:100%;margin-top:0;margin-right:auto;margin-bottom:0;margin-left:auto;height:auto;}
.wp-caption .wp-caption-text,
.gallery-caption{color:#666;font-size:12px;}
.wp-caption .wp-caption-text{margin-bottom:5px;position:relative;padding-top:0px;padding-right:0;padding-bottom:5px;padding-left:4px;}
#back-top{position:fixed;top:100%;margin-top:-55px;right:0;margin-right:5px;}
#back-top a{width:50px;display:block;text-align:center;text-transform:uppercase;text-decoration:none;color:#bbb;}
#back-top a:hover{color:#000;}
#back-top span{width:52px;height:52px;display:block;background-image:url(images/top.png);background-repeat:no-repeat;background-position:center center;opacity:0.7;}
#back-top a:hover span{opacity:1;}
#topads-left{
	float: left;
	width: 950px;
	text-align: center;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}